html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #eeeeee;
    font-family: "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    display: block;
    unicode-bidi: isolate;
}

a {
    color: #81d4fa;
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

.container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #417690;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    border-collapse: collapse;
}

.table-title {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 1.25rem;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr:nth-child(even) {
    background: #212121;
}

td, th {
    font-size: 0.8125rem;
    line-height: 1rem;
    border-bottom: 1px solid #272727;
    vertical-align: top;
    padding: 8px;
}

th {
    font-weight: 500;
    text-align: left;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

caption {
    display: table-caption;
    unicode-bidi: isolate;
}

.site-name {
    padding: 0;
    margin: 0;
    margin-inline-end: 20px;
    font-weight: 300;
    font-size: 1.5rem;
}

.site-name a {
    color: #ffc;
}

.breadcrumbs {
    background: #264b5d;
    padding: 10px 40px;
    border: none;
    color: #c4dce8;
    text-align: left;
}

.breadcrumbs a {
    color: #e0e0e0;
}

.breadcrumbs a:hover {
    color: #c4dce8;
}

.nav-sidebar {
    z-index: 15;
    flex: 0 0 275px;
    left: -276px;
    border-top: 1px solid transparent;
    border-right: 1px solid #272727;
    background-color: #121212;
    overflow: auto;
}

.sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
}

.container > .main {
    display: flex;
    flex: 1 0 auto;
}

.nav-sidebar table {
    width: 100%;
}

.nav-sidebar th {
    width: 100%;
    overflow-wrap: anywhere;
}

.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.main caption {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #417690;
    color: #f7f7f7;
}

.nav-sidebar th, .main caption {
    padding-left: 16px;
}

.content {
    max-width: calc(100% - 276px);
    width: 100%;
    padding: 20px 40px;
}

.error {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-text {
    color: #f7f7f7;
}

.object-tools {
    font-size: 0.625rem;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
}

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 1rem;
}

.object-tools a {
    display: block;
    float: left;
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    background: #212121;
    color: #d0d0d0;
    font-size: 0.6875rem;
    border: none;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
}

.changelist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.changelist .changelist-form-container {
    flex: 1 1 auto;
    min-width: 0;
}

.changelist-form .results {
    overflow-x: auto;
    width: 100%;
}

.changelist table {
    width: 100%;
}

table thead th .text {
    display: block;
    padding: 8px 10px;
}

.paginator {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.8125rem;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin: 0;
    border-top: 1px solid #272727;
    width: 100%;
}

.changelist .paginator {
    color: #d0d0d0;
    border-bottom: 1px solid #272727;
    background: #121212;
    overflow: hidden;
}

.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 0.8125rem;
    border-bottom: 1px solid #272727;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.input-container span {
    display: block;
    width: 100%;
    color: red;
}

label {
    display: block;
    padding: 4px 10px 0 0;
    min-width: 160px;
    width: 160px;
    word-wrap: break-word;
}

input {
    border: 1px solid #353535;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: #eeeeee;
    background-color: #121212;
}

.submit-row {
    padding: 12px 14px 12px;
    margin: 30px 0 20px 0;
    background: #212121;
    border: 1px solid #272727;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.submitlink {
    border: none;
    font-weight: 400;
    background: #417690;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background 0.15s;
}

.content-main {
    float: left;
    width: 100%;
}

label:has(+ input[data-val-required])::after {
    content: "*";
    color: red;
}

.deletelink {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 0.625rem 0.9375rem;
    line-height: 0.9375rem;
    color: #fff;
    right: 12px;
    top: -70px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}