@page "/UserLogins/create"
@model DBCoursework.Pages.Tables.Create.UserLoginsModel
@{
    ViewData["Title"] = "Добавить вход пользователя";
    ViewData["Table"] = "UserLogins";
    ViewData["Type"] = "Create";
}

<h1 class="table-title">Добавить вход пользователя</h1>

<form class="content-main" method="post">
    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.UserId"></label>
                <select asp-for="Form.UserId" asp-items="Model.OriginalUser"></select>
                <span asp-validation-for="Form.UserId"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.LoginDate"></label>
                <input asp-for="Form.LoginDate">
                <span asp-validation-for="Form.LoginDate"></span>
            </div>
        </div>
    </div>

    <div class="submit-row">
        <input type="submit" value="Добавить" class="submitlink">
    </div>
</form>