@using DBCoursework.Database
@using DBCoursework.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <div class="site-name"><a href="/">Админка соцальной сети</a></div>
        </header>

        <nav>
            <div class="breadcrumbs">
                <a href="/">Главная</a>
            </div>
        </nav>

        <div class="main">
            <nav class="sticky nav-sidebar">
                <table>
                    <caption>
                        <span class="section">Модели</span>
                    </caption>

                    @foreach (var databaseModel in DatabaseUtils.GetAllModels()) {
                        <tr class="model-group">
                            <th scope="row" id="auth-group">
                                <a href="/@databaseModel.Name">@databaseModel.Name.Replace("Model", "")</a>
                            </th>
                            <td>
                                <a href="/@databaseModel.Name/add" class="addlink" aria-describedby="auth-group">Add</a>
                            </td>
                        </tr>
                    }
                </table>
            </nav>
            <main class="content">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>