@page "/Communities/{id}"
@model DBCoursework.Pages.Tables.Update.CommunitiesModel
@{
    ViewData["Title"] = "Обновить сообщества";
    ViewData["Table"] = "Communities";
    ViewData["Type"] = "Update";
}

<h1 class="table-title">Изменить сообщество</h1>

<form class="content-main" method="post">
    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.CreatorId"></label>
                <select asp-for="Form.CreatorId" asp-items="Model.Creator"></select>
                <span asp-validation-for="Form.CreatorId"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.Name"></label>
                <input asp-for="Form.Name">
                <span asp-validation-for="Form.Name"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.Slug"></label>
                <input asp-for="Form.Slug">
                <span asp-validation-for="Form.Slug"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.Image"></label>
                <input asp-for="Form.Image">
                <span asp-validation-for="Form.Image"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.Description"></label>
                <input asp-for="Form.Description">
                <span asp-validation-for="Form.Description"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.CreationDate"></label>
                <input asp-for="Form.CreationDate">
                <span asp-validation-for="Form.CreationDate"></span>
            </div>
        </div>
    </div>

    <div class="form-row field-title">
        <div>
            <div class="input-container">
                <label asp-for="Form.Members"></label>
                <select asp-for="Form.Members" asp-items="Model.Members"></select>
                <span asp-validation-for="Form.Members"></span>
            </div>
        </div>
    </div>

    <div class="submit-row">
        <input type="submit" value="Добавить" class="submitlink">
    </div>
</form>