@page "/404"
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<div class="error">
    <h1 class="error-text">Ошибка</h1>
    <h2 class="error-text">Во время выполнения запроса произошла ошибка</h2>
    <h2 class="error-text">Попробуйте ещё раз</h2>
</div>